emulators/mednafen/cheats
emulators/mednafen/firmware
emulators/mednafen/mcm
emulators/mednafen/mcs
emulators/mednafen/mcs
emulators/mednafen/palettes
emulators/mednafen/sav
emulators/mednafen/snaps
emulators/mednafen/*.cfg
emulators/mednafen/stdout.txt
emulators/dosbox/stdout.txt
emulators/dosbox/stderr.txt
*.retropia-old